body {
    font-family: Karla, Roboto, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(10, 10, 10);
}

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 60px;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.SurveyDashboard > .buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 2px;
}

.SurveyDashboard > .question-wrapper {
    margin-top: auto;
    font-size: 40px;
}

.FancyButton {
    background-color: #fefefe;
    border-radius: 5px;
    /*padding: .8rem;*/
    /*margin: .3rem 0;*/
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.FancyButton > button {
    width: 70%;
    height: 100px;
    float: left;
    font-size: 80px;
}